btn {
  background-color: $buttonColor;
  border: none;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: rgb(183, 0, 0);
  }
}
